body {
  font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: #f5f7fa;
  color: #333;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background: #333 !important;
  color: #f5f7fa !important;
}